.openedWork {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  z-index: 9998;

  .workContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  }

  img {
    position: relative;
    max-width: 88vw;
    max-height: 88vh;
    border: 14px solid #fff;
    border-radius: 6px;
    z-index: 100;
  }
}

.opened {
  opacity: 1;
  visibility: visible;
}

.closeWorkButton {
  background-image: url(../images/fancybox_sprite@2x.png);
  background-size: 44px 152px;
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 9999;
}

.closeWorkButton::selection {
  background-color: transparent;
}