@import "footer";
@import "banner";
@import "features";
@import "works";
@import "team";
@import "clients";
@import "download";

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.socialIcons, .person a, .footerItem a {
  border: 1px solid rgb(232, 236, 238);
  border-radius: 2px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}


a{
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  transition: background-color, color, 0.3s;
}

.btn{
  display: block;
  min-width: 200px;
  max-width: 200px;
  padding: 18px 0;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: $accent-color;
  color: white;
  font-family: 'Raleway', sans-serif;


}

.btnLarge{
  min-width: 230px;
  max-width: 230px;

  @media screen and (min-width: $lg) {
    min-width: 280px;
    max-width: 280px;
  }
}