@import "theme";
@import "break-points";

.team{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $md) {
    flex-flow: row wrap;
  }
  @media screen and (min-width: $lg) {
    flex-wrap: nowrap;
  }
  @media screen and (min-width: $xl) {
    padding: 0;
  }
  div{
    margin-bottom: 50px;
    @media screen and (min-width: $md) {
      width: 50%;
    }
    @media screen and (min-width: $lg) {
      margin: 0 15px;
      width: 25%;
    }

    .person{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 100%;
      max-width: 270px;
      margin: 0 auto;
      @media screen and (min-width: $lg) {
        align-items: stretch;
      }
      img{
        margin-bottom: 30px;
        width: 100%;
      }

      h3{
        color: #2d3033;
        font-size: 22px;
        margin-bottom: 15px;
      }

      h4{
        color: $accent-color;
        font-size: 13px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      p{
        line-height: 1.5;
        color: #6c7279;
        margin-bottom: 10px;
        text-align: center;
        @media screen and (min-width: $lg) {
          text-align: left;
        }
      }

      ul{
        color: #6c7279;
        text-align: center;
        @media screen and (min-width: $lg) {
          text-align: left;
        }
        li{
          display: inline-block;
          @media screen and (min-width: $lg) {
            text-align: center;
          }
        }

        li + li{
          margin-left: 5px;
        }

        a:hover, a:active{
          border-color: $accent-color;
          background-color: $accent-color;
          color: #fff;
        }
      }
    }
  }
}

.team div:first-child{
  @media screen and (min-width: $xl) {
    margin-left: 0;
  }
}

.team div:last-child{
   @media screen and (min-width: $xl) {
     margin-right: 0;
   }
 }

