@import "theme";
@import "break-points";

.works{
  margin-top: 60px;
  @media screen and (min-width: $sm) {
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap;
  }
}

.work{
  overflow: hidden;
  width: 100%;
  height: 350px;
  min-height: 350px;
  position: relative;
  border-bottom: 1px solid white;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    object-fit: cover;
    transition: all 0.2s linear;
  }

  @media screen and (min-width: $md) {
    width: 50%;
    border-right: 1px solid white;
  }
  @media screen and (min-width: $lg) {
    width: 25%;
  }
}

.work:nth-child(2n) {
  @media screen and (min-width: $md) {
    border-right: 0;
  }
  @media screen and (min-width: $lg) {
    border-right: 1px solid white;
  }
}

.work:nth-child(4n) {
  @media screen and (min-width: $lg) {
    border-right: 0;
  }
}


.workInfo {
  background: rgba(232, 69, 69, 0.9);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: margin-bottom 0.3s;
  }

  h4 {
    color: #fff;
    margin-top: 20px;
    transition: margin-top 0.3s;
  }
}


.work:hover .workInfo {
  opacity: 1;
}

.work:hover img{
  transform: scale(1.2);
}

.work:hover h3 {
  margin-bottom: 5px;
}

.work:hover h4 {
  margin-top: 5px;
}

